
<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About eSolution </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="~/BusinessContent/img/about/aboutERP1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">About Us</h4>
                        </a>
                        <p>
                            <span style="color: #fcb042;"><strong>SBC</strong> </span> is established in Jordan by senior international ERP implementation consultants, with over 10 years of experience in both local and international ERP projects.<br />
                            <span style="color: #fcb042;"><strong>SBC</strong> </span> is the exclusive partner for LOGO Business  Business s, the prominent ERP Business  provider in Turkey, in the Middle East.<br />
                            <span style="color: #fcb042;"><strong>SBC</strong> </span> can provide:
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-check"></i> Implementation
                            </li>
                            <li>
                                <i class="fa fa-check"></i>Localization
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Customization
                            </li>
                            <li>
                                <i class="fa fa-check"></i>  all other needs for all Logo products
                            </li>

                        </ul>
                        <p>
                            Composed of experienced and creative specialists, our team aims to provide the highest level of quality services.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area -->
<!-- Start About area -->
<div id="aboutLogo" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About Logo</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" autostart=false autoplay=false src="~/BusinessContent/Video/About Logo Software Bank Company.webm" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">About LOGO</h4>
                        </a>
                        <p>
                            <span> </span> has started creating enterprise software Business s in 1984, and it is now considered one of the largest software companies in Turkey.<br />
                            <span></span> By offering both software Business s and creative and innovative services, LOGO is one of the pioneer ERP providers in the region.<br />
                            <span style="color: #fcb042;"><strong>Logo</strong> </span> LOGO is the fastest growing company in the Turkey that is serving more than1,300,000 users within 170,000 companies in different industries in 41countries with 12 languages ​​using its sales and service network, including 900 partners.
                        </p>
                      
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>

<!-- End About area -->
