@model int ;
<script src="~/lib/jquery/dist/jquery.js"></script>
@if (Model == 1)
{
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                                <h1 class="title2">One of our services</h1>
                            </div>
                            <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                                <h2 class="title3">ERP implementation</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="_servicesDetailsArea" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>ERP implementation</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="~/BusinessContent/img/about/aboutERP1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">About ERP Implementation</h4>
                            </a>
                            <p>
                                <span style="color: #fcb042;"><strong>SBC</strong> </span> is a member of international implementation consultant’s society of LOGO, and implements ERP Business s using the best practices in different industries.<br />
                                <span style="color: #fcb042;"><strong>SBC</strong> </span> iuses the Logo Method for System Implementation (LMSI) to implement and localize ERP Business s in accordance with cultural Business  requirements in Jordan & the Middle East. The steps in this methodologies are:
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i> Receive customer requirement list (RFP)
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>Provide answers for the RFP according to current capabilities
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Sign Contract
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>  Observe and study the As-Is situation of the customer
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Define Software Requirement and prepare Software Requirement Specification (SRS) Document
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Define software parameters and design processes based on SRS document
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Document all the designs in the Software Design Document (SDD)
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Prepare GAP analysis document
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Go Live
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Go Live Support
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Project Closure
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Sign support contract
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div>
}

@if (Model == 2)
{
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                                <h1 class="title2">One of our services</h1>
                            </div>
                            <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                                <h2 class="title3">ERP Training</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="_servicesDetailsArea" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>ERP Training</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="~/BusinessContent/img/about/aboutERP1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">About ERP Training</h4>
                            </a>
                            <p>
                                To create a bridge between job seekers and organizations that require experts in SBC  ERP Business s and ERP Business s in general, SBC offers the below training courses:
                                TBA
                                A list including some of open positions in SBC customers is also accessible within this link.
                                At the end of the course, attendance certificate will be issued for participants
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="services-area area-padding">
                <div class="row table-responsive">
                    <!-- End col-->
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Course hours</th>
                                    <th scope="col">Course days</th>
                                    <th scope="col">starting date</th>
                                    <th scope="col">duration</th>
                                    <th scope="col">course name</th>
                                    <th scope="col">course code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Tiger Plus – Basic</td>
                                    <td>TPB-001</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Tiger Plus – Advanced</td>
                                    <td>TPA-011</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>
                    To sign-up for the mentioned courses, please kindly transfer the tuition fee to the account no. +962 790058578, and send the receipt to academy@sbc.com
                    Knowledge Base & counseling
                    LOGO Method for System Implementation (LMSI)
                </p>
            </div>
        </div>
    </div>
}

@if (Model == 3)
{
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                                <h1 class="title2">One of our services</h1>
                            </div>
                            <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                                <h2 class="title3">Customization</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="_servicesDetailsArea" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Customization</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="~/BusinessContent/img/about/aboutERP2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">About Customization</h4>
                            </a>
                            <p>
                                According to special requirements in each organization, it is possible for customers to customize the Business  to address their requirements or integrate their current systems with  <span style="color: #fcb042;"><strong>SBC</strong> </span> Business s.
                                <br />
                                Customization can be done in the following methods:
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i> Altering the current processes
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>Adding a special module to the software Business 
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Customization
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>  Integrating with other tools
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@if (Model == 4)
{
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                                <h1 class="title2">One of our services</h1>
                            </div>
                            <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                                <h2 class="title3">Customers’ Portal</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="_servicesDetailsArea" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Customers’ Portal</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="~/BusinessContent/img/about/aboutERP3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">About Customers’ Portal</h4>
                            </a>
                            <p>
                                Customer portal is the communication channel between <strong>BARG</strong> System and the customers in which they can access all the training documents and knowledge bases.                                <br />
                                <br />
                                All the customers’ requests will be recordable and traceable in the portal and customers will receive their responses in timely fashion.<br />
                                Performance of support staff is monitored and improved all the time via this portal. You can use the link below to access the customers’ portal.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@if (Model == 5)
{
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                                <h1 class="title2">One of our services</h1>
                            </div>
                            <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                                <h2 class="title3">Support</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="_servicesDetailsArea" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Support</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="~/BusinessContent/img/about/aboutERP3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">About support</h4>
                            </a>
                            <p>
                                For every project  <span style="color: #fcb042;"><strong>SBC</strong> </span> will sign a  <span style="color: #fcb042;"><strong>SLA</strong> </span> with its customers and provide them with the support needed to run their Business  smoothly.<br />
                                <span style="color: #fcb042;"><strong>Service Level Agreement (SLA)</strong> </span> SLA agreement is generally made between service provider and customer. All the services in the scope of information and communication technology are included in the SLA. Having SLAs in different levels, SBC enables its customers to use support services efficiently.<br />
                                There are five levels of <span style="color: #fcb042;"><strong>SLAs</strong> </span> in <span style="color: #fcb042;"><strong>SBC</strong> </span>:
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i> Gold
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>Silver
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> A
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>  B
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> C
                                    </li>


                                </ul>
                                Some of the available services are:
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i><span style="color: #fcb042;"><strong>On Call Support</strong> </span>
                                    </li>
                                </ul>
                                For customers that are working out of official working hours or for those who are working on 24/7 basis, there is an option to receive support services via our on-call service.  This is included in our<span style="color: #fcb042;"><strong>Gold SLA</strong> </span> level only.<br />
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i><span style="color: #fcb042;"><strong>On Call Support</strong> </span>
                                    </li>
                                </ul>
                                In order to monitor the status of software usage in customer site, and prevent possible issues, periodic visits are scheduled.<br />

                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i><span style="color: #fcb042;"><strong>Ticketing System</strong> </span>
                                    </li>
                                </ul>
                                One of the key indexes in support is the response time and coverage. Using the ticketing system, our customers can record and monitor all their support requests electronically.<br />
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i><span style="color: #fcb042;"><strong>Call Center </strong> </span>
                                    </li>
                                </ul>
                                Our call center here in <span style="color: #fcb042;"><strong>SBC</strong> </span> welcomes all the support requests, and all the requests are monitored in our ticketing system for the record.<br />

                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i><span style="color: #fcb042;"><strong>On Call Support </strong> </span>
                                    </li>
                                </ul>
                                For on-site support, it is possible to deliver on-site services in addition to off-site support. Some part of these services are offered in the SLA free of charge.<br />
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i><span style="color: #fcb042;"><strong>Report Design </strong> </span>
                                    </li>
                                </ul>
                                End users of all <span style="color: #fcb042;"><strong>SBC</strong> </span> software Business s can create new reports independently. In addition, customers can order their desired reports to our support team in order to speed up the design process. A predefined quantity of free reports are included in different levels of  <span style="color: #fcb042;"><strong>SLA</strong> </span> .
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<partial name="_contactArea" />
<script>
    $(document).ready(function () {
        var url = "@Url.Action("Index","home")";
        $('a[name*=navlink]').attr('href', url)
});

</script>